name: Build and deploy Next.js app to Azure Web App - tech0-gen-11-step3-2-node-19

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  WEBAPP_NAME: 'tech0-gen-11-step3-2-node-19'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js version
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'

      - name: npm install and build
        env:
          NEXT_PUBLIC_API_ENDPOINT: ${{ secrets.NEXT_PUBLIC_API_ENDPOINT }}
        run: |
          npm install
          npm run build
          # build/ 以下にある静的ファイルと public を standalone 配下に移動させる
          mv ./build/static ./build/standalone/build
          if [ -d "./public" ]; then
            mv ./public ./build/standalone
          fi

      # ★ ここで build/standalone を zip にまとめて artifact 化
      - name: Archive build for deployment
        run: |
          zip -r build-standalone.zip build/standalone

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: build-standalone
          path: build-standalone.zip

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: build-standalone

      - name: Unzip artifact
        run: unzip build-standalone.zip

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: ${{ env.WEBAPP_NAME }}
          slot-name: 'Production'
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_6911B1ACF055436DB24FD127004C2CE4 }}
          package: ./build/standalone